@import "tailwindcss";

:root {
  --yellow: #ffc300;
}

#root {
  min-height: 100vh;
  background-color: #121212;
  font-family: "Roboto", "sans-serif";
}

.navbar {
  padding: 0px 30px;
  height: 80px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1, .pixel-family {
  font-family: "Tiny5", sans-serif;
  color: var(--yellow);
}

.menu-links {
  display: flex;
  column-gap: 30px;
}

.menu-links a {
  position: relative;
  text-decoration: none;
  font-weight: 900;
  color: var(--yellow);
}

.menu-links a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu-links a:hover:after {
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
  transform: scaleX(1);
}

/* HomePage */

.game-list-with-filters {
  padding: 20px 0px;
}

/* Game List */

.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

/* Form Add/Update Game */

.input-text-container {
  position: relative;
  padding: 20px;
}

.input-text-container label {
  position: absolute;
  top: 10px;
  left: 40px;
  padding: 0 5px;
}

.input-text-container input,.input-text-container textarea {
  color: white;
  border: 1px solid white;
  padding: 14px 12px;
  display: flex;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

.input-text-container input:focus,
.input-text-container input:hover,
.input-text-container textarea:focus,
.input-text-container textarea:hover {
  border: 1px solid #facc15;
}

/* GameCard */

.card-wrapper {
  perspective: 1000px;
  width: 100%;
  padding: 15px;
}

.keen-slider {
  padding: 20px 0px;
}

/* 2. L'affiche elle-même */

.poster {
  width: 100%;
  aspect-ratio: 220 / 320; /* garde les proportions sans figer la taille */
  border-radius: 10px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition:
    transform 0.3s ease,
    box-shadow 0.15s ease-out;
  transform-style: preserve-3d;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
  font-weight: bold;
  text-shadow: 0 2px 4px black;
}

.poster:hover {
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.6);
}
